include ../../components/slider/slider
include ../../components/form/form

mixin first-screen
    section.first-screen
        .container
            .first-screen__inner
                article.first-screen__slider
                    +slider
                article.first-screen__form
                    +form