.first-screen {
    @include lg-block {
        margin-top: 39px;
        margin-bottom: 135px;
    }
    position: relative;
    margin-top: 10px;
    margin-bottom: 48px;
    z-index: 1;

    .yamogu & {
        margin-top: 0;
        padding-top: 32px;
        @include lg-block {
            padding-top: 67px;
        }
    }

    &__inner {
        @include row-flex;
    }

    &__slider {
        @include col;
        @include size-lg(8);
        @include size(12);
        @include lg-block {
            margin-bottom: 0;
        }
        margin-bottom: 20px;
    }

    &__form {
        @include col;
        @include size-lg(4);
        @include size(12);
    }
}