header.header
		.header-top
			.container
				.header-top-block.header-top--left
					a(href="javascript:void(0);") YaMogu
					a(href="javascript:void(0);") На общую страницу
					a.download(href="javascript:void(0);") Скачать презентацию
				.header-top-block.header-top--right
					a.location(href="javascript:void(0);") Мы находимся тут
					div
						a(href="javascript:void(0);") Вакансии
						a(href="javascript:void(0);") Акции
						a(href="javascript:void(0);") О компании
	
		.header-main
			.container
				.header-main-block
					.header-main-block__logo
						img(src="./img/kansai.svg", alt="")
				.header-main-block
					.schedule
						p Без обеда, без выходных
						.schedule-block
							a(href="tel:+8(123)123-12-12") 8 (123) 123-12-12
							span (с 10:00 до 22:00)
					a.mail(href="mailto:izaak@google.com") izaak@google.com
					include ../../components/social/social