-
    const getSlide = (img, sale, saleText) => ({img, sale, saleText})
    const pathImg = `img/slide-img${yamogu ? '-yamogu' : ''}.jpg`
    const slider = [
        getSlide(pathImg, 70, 'На всю одежду'),
        getSlide(pathImg, 50, 'На всю обувь'),
        getSlide(pathImg, 70, 'На всю одежду'),
        getSlide(pathImg, 50, 'На всю обувь'),
    ]