
mixin slider
	include data
	.slider.js-slider-simple
		.slider-wrap
			for item in slider
				.slide
					.slider__inner
						.slider__data
							.slider__sale -#{item.sale}%
							.slider__sale-text=item.saleText
						img(src=item.img, alt="").slider__img
		.slider-pagination