.slider
	.slider-wrap
		.slide
			img(src="./img/slide-img.jpg", alt="")
		.slide
			img(src="./img/slide-img.jpg", alt="")
		.slide
			img(src="./img/slide-img.jpg", alt="")
		.slide
			img(src="./img/slide-img.jpg", alt="")
		.slide
			img(src="./img/slide-img.jpg", alt="")
	.slider-pagination