
mixin text-with-bubbles
    section.text-with-bubbles
        .container
            .text-with-bubbles__inner
                article.text-with-bubbles__data
                    .text-with-bubbles__title Более 45.000
                    .text-with-bubbles__subtitle Наименований
                    .text-with-bubbles__content
                        p
                            | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                article.text-with-bubbles__values
                    .text-with-bubbles__item.big
                        img(src='img/bubbles/item.jpg')
                    .text-with-bubbles__item.medium
                        img(src='img/bubbles/item.jpg')
                    .text-with-bubbles__item.small
                        img(src='img/bubbles/item.jpg')
