.main
	.main-page
		.main-block.main-left
			h1 ВСЕГДА РЯДОМ
			img(src="./img/kansai-logo.svg", alt="")
			a(href="kansai.html").js-anim ПОДРОБНЕЕ
		.main-block.main-right
			h1 ВСЕГДА РАДЫ!
			img(src="./img/yamogu-logo.png", alt="")
			a(href="yamogu.html").js-anim ПОДРОБНЕЕ