.main
	.main-page
		.main-block.main-left
			h1 ВСЕГДА РЯДОМ
			img(src="./img/kansai-logo.png", alt="")
			a(href="#") ПОДРОБНЕЕ
		.main-block.main-right
			h1 ВСЕГДА РАДЫ!
			img(src="./img/yamogu-logo.png", alt="")
			a(href="#") ПОДРОБНЕЕ