extends ../views/layouts/default
block variables
	- var title = "Kansai"
	- var kansai = true;
	- var yamogu = false;
	
block content
	include ../blocks/modules/header/header
	include ../blocks/components/slider/slider
	include ../blocks/modules/footer/footer