footer
	padding: 30px 0 70px
	background: #0A3506
.footer
	display: flex
	align-items: center
	justify-content: space-between
	ul
		font-family: 'Roboto'
		list-style: none
		padding: 0 25px 0 40px
		li
			margin-bottom: 16px
			&:last-child
				margin-bottom: 0
		a
			font-size: 14px
			line-height: 16px
			color: #FFFFFF
			text-decoration: none


.footer-block
	display: flex
	align-items: center

.footer-schedule
	font-family: 'Roboto'
	font-size: 14px
	line-height: 16px
	color: #FFFFFF
	padding-right: 80px
	p 
		margin-bottom: 16px
	span
		font-weight: 500



.footer-box
	.mail
		display: block
		font-family: 'Roboto'
		font-size: 14px
		line-height: 16px
		color: #FFFFFF
		margin: 16px 0
		text-decoration: none
	.phone
		font-family: 'Roboto'
		font-weight: 500
		font-size: 15px
		line-height: 18px
		color: #FFFFFF
		border-bottom: 1px dashed #ffffff
		text-decoration: none
