- const getFooterName = () => yamogu ? 'Kansai' : 'YaMogu'
footer
	.container
		.footer
			.footer-block
				.footer-logo
					img(src=`./img/footer-${yamogu ? 'yamogu' : 'kansai'}-logo.svg`, alt="")
				ul
					li
						a(href="javascript:void(0);")=getFooterName()
					li
						a(href="javascript:void(0);") На общую страницу
					li
						a.download(href="javascript:void(0);") Скачать презентацию
				ul
					li
						a(href="javascript:void(0);") Вакансии
					li
						a(href="javascript:void(0);") Акции
					li
						a(href="javascript:void(0);") О компании
			.footer-block
				.footer-schedule
					p Без обеда, без выходных
					span с 10:00 до 22:00
				.footer-box
					include ../../components/social/social
					a.mail(href="mailto:izaak@google.com") izaak@google.com
					a.phone(href="tel:+8(123)123-12-12") 8 (123) 123-12-12
